@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  display: block;
  position: relative;
  isolation: isolate;
  color: #fcfdfe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
}
.card:hover, .card:focus {
  transform: scale(1.03);
  transform-origin: bottom;
  box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
}
.card__image {
  background-size: cover;
  height: 200px;
  -webkit-clip-path: polygon(0 0, 0% 20%, 0 52%, 0 89%, 66% 88%, 77% 96%, 87% 89%, 100% 89%, 100% 51%, 100% 21%, 100% 0, 51% 0);
  clip-path: polygon(0 0, 0% 20%, 0 52%, 0 89%, 66% 88%, 77% 96%, 87% 89%, 100% 89%, 100% 51%, 100% 21%, 100% 0, 51% 0);
  background-position: center;
  transition: all 0.2s;
}
.card:hover .card__image {
  height: 250px;
  transform: scale(1.1) rotate(0deg);
  transition-delay: 0s;
  -webkit-clip-path: none;
          clip-path: none;
}
.card__content {
  position: absolute;
  bottom: 0;
  padding: 3em 1em 1em;
  height: 230px;
  width: 100%;
  z-index: -1;
  transition: all 0.2s;
  color: #333;
}
.card:hover .card__content {
  padding-top: 4em;
}
.card__content {
  background-image: linear-gradient(to bottom, #fcfdfe, #26c5f3);
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .card {
    min-width: 100%;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card__image {
    width: 50%;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .card__content {
    padding-left: 55%;
  }
}

.container-medios {
  display: flex;
  justify-content: row;
  height: 350px;
  margin: 5em 0em em 0em;
  padding: 5em 0em 5em 0em;
  background-color: #00bdd6;
}
.container-medios__imagen {
  width: 50px;
  height: 50px;
}
.container-medios__pago, .container-medios__envio, .container-medios__seguridad {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 33%;
}

.container-medios span {
  padding: 1em;
}

.volver-inicio {
  cursor: pointer;
  text-decoration: none;
  color: aqua;
}

.volver-inicio a {
  text-decoration: none;
  color: lightblue;
}

.volver-inicio p {
  text-decoration: none;
  color: #e1e4e5;
}

.buttom-volver {
  background-color: #e1e4e5;
  display: flex;
  flex-direction: row-reverse;
  padding: 1.3em;
}

.buttom-volver p {
  text-decoration: none;
  color: #e1e4e5;
}

button {
  background-color: #00bdd6;
  border-radius: 10px;
  border: solid #e1e4e5 2px;
  padding: 0.8em;
}

/********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 0.5em;
  background-color: #00bdd6;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #0d1b2a7c;
  /*color: #fe9143d7;*/
  border-bottom: #fe9143 solid 1px;
  border-radius: 10px;
}

/********************************
            NAV BAR
*********************************/
.nav-bar {
  padding-bottom: 1em;
  /*segunda lista*/
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.nav-bar__nav-link {
  text-decoration: none;
  display: block;
  padding: 0.5rem 2.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
  transition: all 0.4s linear;
  border-radius: 3px;
  color: #edfafb;
}
.nav-bar__nav-item {
  text-align: center;
  position: relative;
}
.nav-bar__nav-link:hover {
  background: #fe9143;
}
.nav-bar__nav-link span {
  display: none;
}
.nav-bar__nav-list2 {
  padding-top: 12px;
  height: 200px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #00bdd6;
  box-shadow: 1px 18px 29px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 18px 29px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 18px 29px 4px rgba(0, 0, 0, 0.75);
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-3em);
  z-index: -1;
  transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.nav-bar__nav-item:focus .nav-bar__nav-list2, .nav-bar__nav-item:focus-within .nav-bar__nav-list2, .nav-bar__nav-item:hover .nav-bar__nav-list2 {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s;
}
.nav-bar__nav-list2 a {
  width: 100%;
  height: 53.17px;
  padding: 1em 2.5em;
  font-family: roboto;
}
.nav-bar__nav-list2 a:hover {
  background: #fe9143;
}
.nav-bar__nav-link2 {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
  transition: all 0.4s linear;
  border-radius: 3px;
  color: #edfafb;
}
.nav-bar__nav-item2 {
  text-align: center;
  position: relative;
}
.nav-bar__nav-link2:hover {
  background: #fe9143;
}
.nav-bar__nav-list2 {
  background: #00bdd6;
  display: inline-block;
  list-style: none;
}
.nav-bar__nav-list2:first-child {
  border-left: none;
  display: block;
}

/******************************
            SEARCH BAR
*******************************/
.search-bar {
  /*background-color: #d7e3fc;*/
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
}
.search-bar__logo-container {
  display: flex;
  position: absolute;
  height: 183px;
  top: -19px;
}
.search-bar__form-container {
  padding: 0 1em;
  /*background-color: #d7e3fc;*/
  display: flex;
  justify-content: flex-end;
  flex-grow: 8;
}
.search-bar__form-search {
  color: #333;
  background-color: aliceblue;
  border: 1.5px solid #212529;
  border-radius: 3px;
  padding: 0 2em;
}
.search-bar__form-submit {
  background-color: #00bdd6;
  /* color: #edfafb;*/
  border: 1px solid #00bdd6;
  transition: all 0.4s linear;
  border-radius: 3px;
  width: 4.2em;
  height: 2em;
  cursor: pointer;
  font-size: 18px;
}
.search-bar__form-submit:hover {
  background-color: #fe9143;
  color: #edfafb;
  border: 1px solid #fe8834;
}
.search-bar__carrito-container {
  flex: 0 0 4em;
  color: aliceblue;
  padding-top: 10px;
  text-align: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.search-bar__carrito-container:hover {
  transition: all 0.4s linear;
  background: #fe9143bb;
  border-radius: 5px;
}
.search-bar___carrito-container {
  text-decoration: none;
}
.search-bar__carrito-link {
  color: aliceblue;
}

.search-bar__form-label {
  background-color: #edfafb;
}

/******************************
            MENU TOGGLE
*******************************/
.menu-toggle__container {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}

.menu-toggle__label {
  display: block;
  /*background-color: black;*/
  width: 100%;
  height: 100%;
}

.icon-menu-icono {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 13px;
  height: 29px;
  font-size: 53px;
  color: rgba(51, 51, 51, 0.904);
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle__container {
    display: block;
  }

  .search-bar__logo-container {
    display: none;
  }

  .nav-bar {
    display: none;
    padding-top: 2.2em;
    padding-bottom: 1em;
  }
  .nav-bar__nav-link span {
    display: inline-block;
    padding-right: 1em;
  }
  .nav-bar__nav-list {
    flex-direction: column;
  }

  .search-bar {
    flex-direction: row;
    justify-content: center;
  }

  .search-bar__form-search {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .search-bar {
    justify-content: space-between;
  }

  .search-bar__form-container {
    display: none;
  }

  .menu-toggle__container {
    order: -1;
  }

  .search-bar__carrito-container {
    justify-content: center;
  }
}
.footer-container {
  background: #333;
  color: #f0ebd8;
  padding: 2rem 0.5rem;
  text-align: center;
}
.footer-container h1 {
  cursor: default;
}
.footer-container__mas-de-nosotros {
  text-align: left;
  width: 33.3%;
}
.footer-container__redes-sociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.3%;
}
.footer-container__redes-sociales a:hover {
  color: #00bdd6;
}
.footer-container__informacion-de-contacto {
  text-align: left;
  width: 33.3%;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer-logo__img {
  width: 15%;
}

.footer-redes {
  display: inherit;
  color: #f0ebd8;
  text-decoration: none;
  margin-bottom: 8px;
  align-items: center;
}
.footer-redes p {
  padding-left: 15px;
}

.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-footer h1 {
  padding-bottom: 10px;
  text-align: left;
}

.footer-container hr {
  margin: 12px;
}

.section-cards {
  background-color: #e1e4e5;
  padding: 3.5em 2.5em 0em 2.5em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7em;
  /*espaciado entre las tarjetas */
  justify-content: center;
}

.cards-titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}

.container-video {
  width: 100%;
}

.container-video video {
  width: 100%;
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}
.main-nosotros {
  height: 3000px;
  background-color: #e1e4e5;
}

.container-nosotros-somos {
  height: 400px;
  background: url(../../img/nosotros-imagenes/Quienes-somos.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container-nosotros-somos__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-somos__descripcion-texto {
  display: flex;
  background-color: #e1e4e5;
  justify-content: center;
  align-items: center;
  height: 280px;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
}

.container-nosotros-lider {
  height: 400px;
  background: url(../../img/nosotros-imagenes/juegos.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container-nosotros-lider__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-lider__descripion {
  background-color: #e1e4e5;
}
.container-nosotros-lider__descripcion-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
}

.container-nosotros-tecnologia {
  height: 400px;
  background: url(../../img/nosotros-imagenes/lider-en-tecnologia.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container-nosotros-tecnologia__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-tecnologia__descripcion-texto {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 280px;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
}

.container-nosotros-garantia {
  height: 400px;
  background: url(../../img/nosotros-imagenes/garantia-img.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container-nosotros-garantia__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-garantia__descripcion-texto {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 280px;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
}

.formulario-titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}

.main-contacto {
  background-color: #e1e4e5;
}

.formulario-titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}

.main-form {
  background-color: #e1e4e5;
}

.formulario {
  padding: 20px 0 50px 0;
  max-width: 800px;
  background-color: #c0c6c9;
  margin: 0 auto;
  text-align: center;
  /******************************
          MEDIA CELULAR
  ******************************/
}
.formulario__datos-personales {
  margin-bottom: 3.5em;
}
.formulario__fieldset {
  padding: 40px 5px 5px 10px;
  margin: 0 0;
  text-align: left;
  border: none;
}
.formulario__legend {
  padding: 4px;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 0.774);
  background-color: rgba(51, 51, 51, 0.856);
  color: aliceblue;
}
.formulario__email {
  text-align: left;
  display: block;
  margin: 15px 0 15px 8px;
}
.formulario__email-input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__email-input:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__nombre {
  text-align: left;
  display: block;
  margin: 15px 0 15px 8px;
}
.formulario__input-nombre {
  width: 50%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-nombre:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__nombre-alta {
  text-align: left;
  display: block;
  margin: 15px 0 15px 8px;
}
.formulario__input-nombre-alta {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-nombre-alta:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__precio {
  margin: 15px 0 15px 8px;
  text-align: left;
}
.formulario__input-precio {
  width: 50%;
  height: 2em;
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-precio:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__marca {
  text-align: left;
  margin: 15px 0 15px 8px;
}
.formulario__marca-select {
  margin-left: 30px;
  border-radius: 5px;
  width: 15%;
  height: 2em;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__marca-select:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__foto {
  display: block;
  width: 80%;
  height: 2.5em;
}
.formulario__foto-label {
  text-align: left;
  margin: 15px 0 15px 8px;
}
.formulario__foto-input {
  margin-left: 40px;
}
.formulario__categoria {
  text-align: left;
  margin: 15px 0 15px 8px;
}
.formulario__categoria-select {
  width: 15%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__categoria-select:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__detalle {
  display: block;
  margin: 15px 0 15px 8px;
}
.formulario__detalle-label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.formulario__detalle-textarea {
  display: block;
  height: 120px;
  width: 98%;
  border-radius: 5px;
  resize: vertical;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__detalle-textarea:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__stock {
  text-align: center;
  margin: 15px 0 15px 8px;
}
.formulario__envio {
  margin: 45px 0 15px 0;
  text-align: center;
}
.formulario__novedades {
  margin: 15px 0 15px 0;
}
.formulario__botones {
  display: block;
  padding: 80px 45px 10px 45px;
  border-radius: 4px;
}
.formulario__botones-submit {
  width: 8em;
  height: 2.5em;
  border: #fe9143d0 1px solid;
  border-radius: 5px;
  background-color: #edfafb;
  margin-right: 1.5em;
}
.formulario__botones-submit:hover {
  background-color: #fe9143;
  cursor: pointer;
}
.formulario__botones-submit:focus {
  background-color: #ef8752;
}
.formulario__botones-reset {
  width: 8em;
  border: #1d2d44 1px solid;
  height: 2.5em;
  border-radius: 5px;
  background-color: #edfafb;
  margin-left: 1.5em;
}
.formulario__botones-reset:hover {
  background-color: #fe9143;
  cursor: pointer;
}
@media (max-width: 768px) {
  .formulario {
    /*& {
        min-width: 100%;
        height: 200px;
    }*/
  }
  .formulario__nombre {
    margin-right: 8px;
  }
  .formulario__input-nombre {
    margin: 5px 0;
    width: 100%;
  }
  .formulario__precio {
    margin-right: 8px;
  }
  .formulario__input-precio {
    margin: 5px 0;
    width: 100%;
  }
  .formulario__detalle {
    margin-right: 8px;
  }
  .formulario__detalle-textarea {
    width: 100%;
    height: 7em;
    margin: 5px 0;
  }
  .formulario__marca {
    margin-right: 8px;
  }
  .formulario__marca-select {
    width: 100%;
    height: 2.5em;
    margin: 5px 0;
  }
  .formulario__categoria {
    margin-right: 8px;
  }
  .formulario__categoria-select {
    width: 100%;
    height: 2.5em;
    margin: 5px 0;
  }
  .formulario__stock {
    text-align: center;
  }
}

.volver-incio {
  padding: 3em 0;
  text-decoration: none;
  text-align: right;
}/*# sourceMappingURL=main.css.map */