@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  display: block;
  position: relative;
  isolation: isolate;
  color: #fcfdfe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  transform-style: preserve-3d;
  perspective: 1000px;
  /***************************
          IMAGEN
  ***************************/
  /***************************
          ARTICLE
  ***************************/
  /********************************
          CONTENT
  *******************************/
  /********************************
      ARTICLE Y CONTENT
  ********************************/
  /******************************
          FOCUS
  *******************************/
  /******************************
          color fondo
  ******************************/
}
.card__image {
  position: relative;
  background-size: cover;
  height: 280px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-clip-path: polygon(0 0, 0% 20%, 0 52%, 0 89%, 66% 88%, 77% 96%, 87% 89%, 100% 89%, 100% 51%, 100% 21%, 100% 0, 51% 0);
  clip-path: polygon(0 0, 0% 20%, 0 52%, 0 89%, 66% 88%, 77% 96%, 87% 89%, 100% 89%, 100% 51%, 100% 21%, 100% 0, 51% 0);
  background-position: center;
  transition: all 0.2s;
  transform: scale(1) rotate(-0.5deg);
  transition-delay: 0.5s;
}
.card__article {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card__content {
  position: absolute;
  bottom: 0;
  padding: 3em 1em 1em;
  /*height: 230px;*/
  width: 100%;
  z-index: -1;
  transition: all 0.2s;
  transform: rotateY(0deg);
}
.card__article .card__content {
  /*width: 100%;*/
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: perspective(1000px) rotateY(180deg);
  /* backface-visibility: hidden;*/
  overflow: auto;
}
.card:hover .card__article {
  transform: perspective(1000px) rotateY(180deg);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}
.card:hover {
  transform: scale(1.03);
  transform-origin: bottom;
  box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
}
.card:hover .card__image {
  /*clip-path: none;*/
  height: 100%;
  width: 100%;
  transform: scale(1.6) rotate(-6deg);
  transition-delay: 0.5s;
  filter: blur(2px);
}
.card:hover .card__content {
  padding-top: 4em;
}
.card:nth-child(10n+1) .card__content {
  background-image: linear-gradient(to top, #edf2fb, #abc4ff);
}
.card:nth-child(10n+2) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
.card:nth-child(10n+3) .card__content {
  background-image: linear-gradient(to top, #edf2fb, #abc4ff);
}
.card:nth-child(10n+4) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
.card:nth-child(10n+5) .card__content {
  background-image: linear-gradient(to top, #edf2fb, #abc4ff);
}
.card:nth-child(10n+6) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
.card:nth-child(10n+7) .card__content {
  background-image: linear-gradient(to top, #edf2fb, #abc4ff);
}
.card:nth-child(10n+8) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
.card:nth-child(10n+9) .card__content {
  background-image: linear-gradient(to top, #edf2fb, #abc4ff);
}
.card:nth-child(10n+10) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 100%;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card__image {
    width: 80%;
    -webkit-clip-path: polygon(0 0, 0% 20%, 0 52%, 0 100%, 53% 100%, 78% 100%, 93% 100%, 94% 28%, 86% 19%, 93% 11%, 94% 0, 51% 0);
            clip-path: polygon(0 0, 0% 20%, 0 52%, 0 100%, 53% 100%, 78% 100%, 93% 100%, 94% 28%, 86% 19%, 93% 11%, 94% 0, 51% 0);
  }
  .card__content {
    top: 0;
    padding-left: 45%;
  }
}

/********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -1px 1px 35px 8px rgba(0, 0, 0, 0.66) inset;
  -webkit-box-shadow: -1px 1px 35px 8px rgba(0, 0, 0, 0.66) inset;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #0d1b2a;
}

/********************************
            NAV BAR
*********************************/
.nav-bar {
  background-color: #d7e3fc;
  /*box-shadow: 32px -23px 93px -23px rgba(0,0,0,0.83);
  -webkit-box-shadow: 32px -23px 93px -23px rgba(0,0,0,0.83);
  -moz-box-shadow: 32px -23px 93px -23px rgba(0,0,0,0.83);*/
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.nav-bar__nav-item {
  text-align: center;
  background-color: #d7e3fc;
}
.nav-bar__nav-link {
  display: block;
  background-color: #abc4ff;
  color: #fff;
  /*box-shadow: 50px 50px 100px -4px inset rgba(0, 0, 0, 0.3);*/
  border-radius: 1%;
  font-family: Verdana, Geneva, Tahoma, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
  padding: 1em 5em;
  text-decoration: none;
}

/******************************
            SEARCH BAR
*******************************/
.search-bar {
  /*box-shadow: -38px 38px 93px -23px rgba(0,0,0,0.83);
  -webkit-box-shadow: -38px 38px 93px -23px rgba(0,0,0,0.83);
  -moz-box-shadow: -38px 38px 93px -23px rgba(0,0,0,0.83);*/
  background-color: #d7e3fc;
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  /*flex-basis: 100%;*/
}
.search-bar__logo-container {
  padding: 1em;
  background-color: #abc4ff;
  display: flex;
  flex-direction: flex-end;
  justify-content: left;
  align-self: left;
  flex-basis: 5%;
  background-image: url(../../img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
.search-bar__form-container {
  padding: 1em;
  background-color: #d7e3fc;
  display: flex;
  justify-content: right;
  flex-basis: 90%;
}
.search-bar__form-search {
  background-color: #ccdbfd;
  width: 10%;
}
.search-bar__form-submit {
  background-color: #abc4ff;
  color: #edf2fb;
}
.search-bar__carrito-container {
  flex: 0 0 3em;
  padding-top: 3px;
  margin-left: 20px;
  text-align: center;
  background-color: #abc4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 4em;
}

/* .search-bar__form-label {
    background-color: #abc4ff;
}*/
/******************************
            MENU TOGGLE
*******************************/
.menu-toggle__container {
  display: none;
  background-color: #0d1b2a;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}

.menu-toggle__label {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
  display: block;
  background-color: #333;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}

.menu-toggle__pan-arriba {
  top: 0.8em;
}

.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}

.menu-toggle__pan-abajo {
  bottom: 0.8em;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle__container {
    display: block;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar__nav-list {
    flex-direction: column;
  }

  .search-bar {
    flex-direction: row;
    justify-content: center;
  }

  .search-bar__form-search {
    width: 100%;
  }
}
.section-cards {
  background-color: #fcfdfe;
  padding: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  /*espaciado entre las tarjetas */
  justify-content: center;
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}/*# sourceMappingURL=main.css.map */