@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  display: block;
  position: relative;
  isolation: isolate;
  color: #fcfdfe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  transform-style: preserve-3d;
  perspective: 1000px;
  /***************************
          IMAGEN
  ***************************/
  /***************************
          ARTICLE
  ***************************/
  /********************************
          CONTENT
  *******************************/
  /********************************
      ARTICLE Y CONTENT
  ********************************/
  /******************************
          FOCUS
  *******************************/
  /******************************
          color fondo
  ******************************/
}
.card__image {
  position: relative;
  background-size: cover;
  height: 280px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-clip-path: polygon(0 0, 0% 20%, 0 52%, 0 89%, 66% 88%, 77% 96%, 87% 89%, 100% 89%, 100% 51%, 100% 21%, 100% 0, 51% 0);
  clip-path: polygon(0 0, 0% 20%, 0 52%, 0 89%, 66% 88%, 77% 96%, 87% 89%, 100% 89%, 100% 51%, 100% 21%, 100% 0, 51% 0);
  background-position: center;
  transition: all 0.2s;
  transform: scale(1) rotate(-0.5deg);
  transition-delay: 0.5s;
}
.card__article {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card__content {
  position: absolute;
  bottom: 0;
  padding: 3em 1em 1em;
  /*height: 230px;*/
  width: 100%;
  z-index: -1;
  transition: all 0.2s;
  transform: rotateY(0deg);
}
.card__article .card__content {
  /*width: 100%;*/
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: perspective(1000px) rotateY(180deg);
  /* backface-visibility: hidden;*/
  overflow: auto;
}
.card:hover .card__article {
  transform: perspective(1000px) rotateY(180deg);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}
.card:hover {
  transform: scale(1.03);
  transform-origin: bottom;
  box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
}
.card:hover .card__image {
  /*clip-path: none;*/
  height: 100%;
  width: 100%;
  transform: scale(1.6) rotate(-6deg);
  transition-delay: 0.5s;
  filter: blur(2px);
}
.card:hover .card__content {
  padding-top: 4em;
}
.card:nth-child(10n+1) .card__content {
  background-image: linear-gradient(to top, #0d1b2a, #f8f9fa);
}
.card:nth-child(10n+2) .card__content {
  background-image: linear-gradient(to bottom, #0d1b2a, #f8f9fa);
}
.card:nth-child(10n+3) .card__content {
  background-image: linear-gradient(to top, #0d1b2a, #f8f9fa);
}
.card:nth-child(10n+4) .card__content {
  background-image: linear-gradient(to bottom, #0d1b2a, #f8f9fa);
}
.card:nth-child(10n+5) .card__content {
  background-image: linear-gradient(to top, #0d1b2a, #f8f9fa);
}
.card:nth-child(10n+6) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
.card:nth-child(10n+7) .card__content {
  background-image: linear-gradient(to top, #edf2fb, #abc4ff);
}
.card:nth-child(10n+8) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
.card:nth-child(10n+9) .card__content {
  background-image: linear-gradient(to top, #edf2fb, #abc4ff);
}
.card:nth-child(10n+10) .card__content {
  background-image: linear-gradient(to bottom, #edf2fb, #abc4ff);
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 100%;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card__image {
    width: 80%;
    -webkit-clip-path: polygon(0 0, 0% 20%, 0 52%, 0 100%, 53% 100%, 78% 100%, 93% 100%, 94% 28%, 86% 19%, 93% 11%, 94% 0, 51% 0);
            clip-path: polygon(0 0, 0% 20%, 0 52%, 0 100%, 53% 100%, 78% 100%, 93% 100%, 94% 28%, 86% 19%, 93% 11%, 94% 0, 51% 0);
  }
  .card__content {
    top: 0;
    padding-left: 45%;
  }
}

/********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -1px 1px 35px 8px rgba(0, 0, 0, 0.66) inset;
  -webkit-box-shadow: -1px 1px 35px 8px rgba(0, 0, 0, 0.66) inset;
  padding: 1em 0.5em;
  background-color: #1d2d44;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
  /*background-color: #0d1b2a;*/
  color: rgba(240, 248, 255, 0.582);
}

/********************************
            NAV BAR
*********************************/
.nav-bar {
  padding-bottom: 1em;
  /*background-color: #d7e3fc;*/
  /*box-shadow: 32px -23px 93px -23px rgba(0,0,0,0.83);
  -webkit-box-shadow: 32px -23px 93px -23px rgba(0,0,0,0.83);
  -moz-box-shadow: 32px -23px 93px -23px rgba(0,0,0,0.83);*/
  /*&__nav-item {
      text-align: center;
      background-color: #d7e3fc;
  }*/
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.nav-bar__nav-link {
  text-decoration: none;
  display: block;
  padding: 0.5rem 2.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
  transition: all 0.4s linear;
  border-radius: 3px;
  color: #edfafb;
}
.nav-bar__nav-link:hover {
  background: #717e8b;
}
.nav-bar__nav-link span {
  display: none;
}

/******************************
            SEARCH BAR
*******************************/
.search-bar {
  /*background-color: #d7e3fc;*/
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
}
.search-bar__logo-container {
  letter-spacing: 15px;
  font-size: 1.3em;
  color: aliceblue;
  cursor: default;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
  /*    padding: 1em;
      background-color: #abc4ff;
      display: flex;
      flex-direction: flex-end;
      justify-content: left;
      align-self: left;
      flex-basis: 5%;
      background-image: url(../../img/logo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
  */
}
.search-bar__form-container {
  padding: 0 1em;
  /*background-color: #d7e3fc;*/
  display: flex;
  justify-content: flex-end;
  flex-grow: 8;
}
.search-bar__form-search {
  color: #333;
  background-color: aliceblue;
  border: 1.5px solid #212529;
  border-radius: 3px;
  padding: 0 2em;
}
.search-bar__form-submit {
  background-color: #1d2d44;
  /* color: #edfafb;*/
  border: 1px solid #1d2d44;
  transition: all 0.4s linear;
  border-radius: 3px;
  width: 4.2em;
  height: 2em;
  cursor: pointer;
  font-size: 18px;
}
.search-bar__form-submit:hover {
  background-color: #717e8b9d;
  color: #edfafb;
  border: 1px solid #1d2d44;
}
.search-bar__carrito-container {
  flex: 0 0 4em;
  color: aliceblue;
  padding-top: 10px;
  text-align: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.search-bar__carrito-container:hover {
  transition: all 0.4s linear;
  background: #717e8b9d;
  border-radius: 5px;
}

.search-bar__form-label {
  background-color: #edfafb;
}

/******************************
            MENU TOGGLE
*******************************/
.menu-toggle__container {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}

.menu-toggle__label {
  display: block;
  /*background-color: black;*/
  width: 100%;
  height: 100%;
}

.icon-menu-icono {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 13px;
  height: 29px;
  font-size: 53px;
  /*color: rgba(51, 51, 51, 0.904);*/
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle__container {
    display: block;
  }

  .nav-bar {
    display: none;
    padding-top: 2.2em;
    padding-bottom: 1em;
  }
  .nav-bar__nav-link span {
    display: inline-block;
    padding-right: 1em;
  }

  .nav-bar__nav-list {
    flex-direction: column;
  }

  .search-bar {
    flex-direction: row;
    justify-content: center;
  }

  .search-bar__form-search {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .search-bar {
    justify-content: space-between;
  }

  .search-bar__form-container {
    display: none;
  }

  .menu-toggle__container {
    order: -1;
  }

  .search-bar__carrito-container {
    justify-content: center;
  }
}
.footer-class {
  background: #0d1321;
  color: #f0ebd8;
  padding: 10rem 0;
  text-align: center;
  box-shadow: 1px 15px 5px -10px white inset;
  -webkit-box-shadow: 1px 15px 5px -10px white inset;
  -moz-box-shadow: 1px 15px 5px -10px white inset;
}

.section-cards {
  background-color: #fcfdfe;
  padding: 2.5em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  /*espaciado entre las tarjetas */
  justify-content: center;
}

.header-cards {
  text-align: center;
  padding: 0 2em 3.5em 2em;
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}
.header-alta {
  text-align: center;
  padding: 0 2em 3.5em 2em;
}

.main-form {
  margin: 0 auto;
  padding: 2em;
  background-image: url(../../img/fondos/fondo-alta.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
}

.formulario:hover {
  background-color: #748cabea;
}

.formulario {
  padding: 20px 0 50px 0;
  max-width: 800px;
  background-color: #748cabbb;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 0px 29px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 29px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 29px 4px rgba(0, 0, 0, 0.75);
  /******************************
          MEDIA CELULAR
  ******************************/
}
.formulario__fieldset {
  padding: 40px 5px 5px 10px;
  margin: 0 15px;
  text-align: left;
  border: 2px solid rgba(51, 51, 51, 0.534);
  background-color: #748cabcc;
  border-radius: 5px;
  box-shadow: 1px 0px 29px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 29px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 29px 4px rgba(0, 0, 0, 0.75);
}
.formulario__fieldset:hover {
  background-color: #748cabef;
}
.formulario__legend {
  padding: 4px;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 0.774);
  background-color: rgba(51, 51, 51, 0.856);
  color: aliceblue;
}
.formulario__nombre {
  text-align: left;
  display: block;
  margin: 15px 0 15px 8px;
}
.formulario__input-nombre {
  width: 50%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-nombre:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__precio {
  margin: 15px 0 15px 8px;
  text-align: left;
}
.formulario__input-precio {
  width: 50%;
  height: 2em;
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-precio:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__marca {
  text-align: left;
  margin: 15px 0 15px 8px;
}
.formulario__marca-select {
  margin-left: 30px;
  border-radius: 5px;
  width: 15%;
  height: 2em;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__marca-select:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__categoria {
  text-align: left;
  margin: 15px 0 15px 8px;
}
.formulario__categoria-select {
  width: 15%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__categoria-select:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__detalle {
  display: block;
  margin: 15px 0 15px 8px;
}
.formulario__detalle-label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.formulario__detalle-textarea {
  display: block;
  height: 120px;
  width: 60%;
  border-radius: 5px;
  resize: vertical;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__detalle-textarea:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__stock {
  text-align: center;
  margin: 15px 0 15px 8px;
}
.formulario__envio {
  margin: 45px 0 15px 0;
  text-align: center;
}
.formulario__novedades {
  margin: 15px 0 15px 0;
}
.formulario__botones {
  display: block;
  padding: 80px 45px 10px 45px;
  border-radius: 4px;
}
.formulario__botones-submit {
  width: 8em;
  height: 2.5em;
  border: #1d2d44 1px solid;
  border-radius: 3px;
  background-color: #3e5c76;
}
.formulario__botones-submit:hover {
  background-color: #1d2d44;
}
.formulario__botones-submit:focus {
  background-color: #ef8752;
}
.formulario__botones-reset {
  width: 8em;
  border: #1d2d44 1px solid;
  height: 2.5em;
  border-radius: 3px;
  background-color: #3e5c76;
}
.formulario__botones-reset:hover {
  background-color: #1d2d44;
}
@media (max-width: 768px) {
  .formulario {
    /*& {
        min-width: 100%;
        height: 200px;
    }*/
  }
  .formulario__nombre {
    margin-right: 8px;
  }
  .formulario__input-nombre {
    margin: 5px 0;
    width: 100%;
  }
  .formulario__precio {
    margin-right: 8px;
  }
  .formulario__input-precio {
    margin: 5px 0;
    width: 100%;
  }
  .formulario__detalle {
    margin-right: 8px;
  }
  .formulario__detalle-textarea {
    width: 100%;
    height: 7em;
    margin: 5px 0;
  }
  .formulario__marca {
    margin-right: 8px;
  }
  .formulario__marca-select {
    width: 100%;
    height: 2.5em;
    margin: 5px 0;
  }
  .formulario__categoria {
    margin-right: 8px;
  }
  .formulario__categoria-select {
    width: 100%;
    height: 2.5em;
    margin: 5px 0;
  }
  .formulario__stock {
    text-align: center;
  }
}

.volver-incio {
  padding: 3em 0;
  text-decoration: none;
  text-align: right;
}/*# sourceMappingURL=main.css.map */