* {margin:0 ;padding:0;}


body {
  background-image: url(../img/fondobinario.svg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  background-color: #F1f2f3f4;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.margenes {
  margin: 0 8em;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

h1 {
  text-align: center;
  cursor: default;
}

/***********************

        ALBUM

********************** */
main .album {

  width: 1400px;
  margin: 0 auto;
  background-color: #212529;
  color: #F1f2f3f4;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/******************************

    ACERCA DE MI Y SKILLS

*******************************/

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  fill: currentcolor;
  transition: transform 0.25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#hanging-icons {
  background-color: #f1f2f3ee;
}

.aboutme {
  margin: 15px;
}
.container-aboutme {
  width: 20%;
  margin-top: 20px;
  margin-left: 90px;
  
}

#desarrolloWeb, #scraping, #programador {
  width: 22%;
  margin-top: 20px;
  margin-left: 20px;
}
#desarrolloWeb:hover > div, #scraping:hover > div, #programador:hover > div {
  background-color: #f1f2f3fc;
  border-radius: 4px;
}
#desarrolloWeb{
  margin-left: 20px;
}
#desarrolloWeb > div, #scraping > div, #programador > div {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 6px 6px 4px -4px rgba(0,0,0,0.58);
  -moz-box-shadow: 6px 6px 4px -4px rgba(0,0,0,0.58);
  box-shadow: 6px 6px 4px -4px rgba(0,0,0,0.58);
  
  padding: 6px;
  margin: 8px;
}
#desarrolloWeb > div > button, #scraping > div > button, #programador > div > button {
  align-self: flex-start;
  margin: 0 auto;
  margin-bottom: auto;
}
#desarrolloWeb > div > h2, #scraping > div > h2, #programador > div > h2 {
  height: 50px;
  text-align: center;
  cursor: default;
}
#desarrolloWeb > div > p, #scraping > div > p, #programador > div > p {
  height: 50px;
  cursor: default;
}





/* desarrollo web */
#popupWeb {
  width: 50%;
  text-align: start;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}
#popupWeb p {
  font-size: 20px;
  letter-spacing: .1em;

}
#popupWeb li {
  letter-spacing: .2em;
}

/* Programador */

#popupDev {
  width: 50%;
  text-align: start;
  font-family: 'Roboto', sans-serif;
  overflow: auto;

}
#popupDev p {
  font-size: 20px;
  letter-spacing: .1em;

}
#popupDev li {
  letter-spacing: .2em;
}

/* Scraping */


#popupScr {
  width: 50%;
  text-align: start;
  font-family: 'Roboto', sans-serif;
  overflow: auto;

}
#popupScr p {
  font-size: 20px;
  letter-spacing: .1em;

}
#popupScr li {
  letter-spacing: .2em;
}






/*Cards*/
.container-tarjeta{
	width: 100%;
	display: flex;
	max-width: 1030px;
  height: 560px;
	margin: auto;
  gap: 3em;
}
.title-tarjetas{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.tarjeta{
	width: 90%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.tarjeta:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%)scale(1.05);
}
.tarjeta img{
	width: 100%;
	height: 230px;
}
.tarjeta .contenido-tarjeta{
	padding: 15px;
	text-align: center;
  height: 220px;
}
.tarjeta .contenido-tarjeta h4{
	margin-bottom: 15px;
	color: #d2d2d3f4;
  cursor: default;
}
.tarjeta .contenido-tarjeta p{
	line-height: 1.8;
	color: rgb(181, 180, 180);
	font-size: 14px;
	margin-bottom: 5px;
  cursor: default;
}
.tarjeta .contenido-tarjeta a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #CAD6E0;
	border: 1px solid #CAD6E0;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.tarjeta .contenido-tarjeta a:hover{
	background: #2fb4cc;
	color: #fff;
  border: none;
}
.tarjeta .contenido-tarjeta a:focus{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);

}
.tarjeta figure{
  margin: 0;
}
.contenido-tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    background: #395d74 ;
    
}

.btn-repositorio {
  margin-top: auto;

}  
/* ventanas de cada card */
.contenedor-tarjeta {
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
    

}

.contenedor-tarjeta article {
	line-height: 28px;
	padding-top: 30px;
}
.contenedor-tarjeta .overlay img {
	height: 327px;
}

.contenedor-tarjeta article h1 {
	font-size: 30px;
	text-align: center;
	padding: 30px 0;
	font-family: Roboto;
}

.contenedor-tarjeta article p {
	margin-bottom: 15px;
}

.contenedor-tarjeta article .btn-abrir-popup {
    display: block;
    margin: auto;
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #59BFF6;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor-tarjeta article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 3;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 80%;
  flex-direction: column;
  border-radius: 5px ;
  height: 550px;


	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
  gap: 3em;
  font-family: 'Roboto', sans-serif;
}



.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
  z-index: 3;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
  letter-spacing: .3em;
}

.popup h4 {
	font-size: 26px;
  font-weight: bold;
	margin-bottom: 40px;
  margin-top: 2em;
	opacity: 0;
  letter-spacing: .1em;

}

.popup form .contenedor-tarjeta-inputs {
	opacity: 0;
}

.popup form .contenedor-tarjeta-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.cuerpo-overlay {
  display: flex;
}

.fondo-overlay {
  background-color: #F8F8F8;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-tarjeta-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* slider!!! */


.img-slider {
  margin: 4em;
}

#slider2 , #slider3 {
  display: none;
}

.cuerpo-slider  {
  text-align: start;
}

.contenido-tarjeta button {
  background-color: #395D74;
  border: none;
  color: rgb(181, 180, 180);
  margin: 5px;
  padding: 5px;
  transition: all;
}
.contenido-tarjeta button:hover {
  transition: all 500ms ease;
  background-color: #17c1e372;
  border: none;
  border-radius: 3px;
  color: #D8E1E7;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #59BFF6;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    
}
.prev:focus span,
.next:focus span{
    background-color: #17C1E3;
    color: #17C1E3;

}
/* SEGUNDO SLIDER */

.slider {
  justify-content: center;
}
.slider1 {
  display: flex;
  justify-content: center;
} 



#sliderdjango , #sliderdjango2 {
  display: none;
}
#sliderdjango5 , #sliderdjango6 {
  display: none;
}







/*Fin-Cards*/

/* BOTONES */




/********************

    CAROUSEL

*******************/




/********************

      SKILLS

*******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.skillcountainer {

  text-align: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-family: 'Roboto', sans-serif;


}
.skill {
  gap: 2em;
  margin: 1em 4em;
}

.text-paralax {
  transform: translateZ(30px);
}
.text-skill {
  font-size: 2vh;
  cursor: default;
}

.skillcountainer:hover {
  transition: .3s;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.skill > .skillcountainer:nth-child(1):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #E45126;
  border-radius: 2px;
  background-color: #f89e5d83;
}
.skill > .skillcountainer:nth-child(2):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #1673B6;
  border-radius: 2px;
  background-color: #5bb1c2bd;


}
.skill > .skillcountainer:nth-child(3):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #F0DB4F;
  border-radius: 2px;
  background-color: #efe4a0ba;


}
.skill > .skillcountainer:nth-child(4):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #8EC74E;
  border-radius: 2px;
  background-color: #535353d0;
}
.skill > .skillcountainer:nth-child(5):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #FFFFFF;
  border-radius: 2px;
  background-color: #864c75ba;
}
.skill > .skillcountainer:nth-child(6):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #FFFFFF;
  border-radius: 2px;
  background-color: #cb76aba3;
}
.skill > .skillcountainer:nth-child(7):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #F47239;
  border-radius: 2px;
  background-color: #fbaf3dad;
}
.skill > .skillcountainer:nth-child(8):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #58AA50;
  border-radius: 2px;
  background-color: #5e3922b3;
}

.skill > .skillcountainer:nth-child(9):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #18B5D4;
  border-radius: 2px;
  background-color: #535353d0;
}

.skill > .skillcountainer:nth-child(10):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #3778AE;
  border-radius: 2px;
  background-color: #ffeda492;
}
.skill > .skillcountainer:nth-child(11):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #4F7B99;
  border-radius: 2px;
  background-color: #568fcca4;
}
.skill > .skillcountainer:nth-child(12):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #092E20;
  border-radius: 2px;
  background-color: #19aa5f85;
}

.skill > .skillcountainer:nth-child(13):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #EF3F2F;
  border-radius: 2px;
  background-color: rgba(51, 51, 51, 0.484);
}

.skill > .skillcountainer:nth-child(13):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #333;
  border-radius: 2px;
  background-color: #cd3f3a8d;
}

.skill > .skillcountainer:nth-child(14):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #EF3F2F;
  border-radius: 2px;
  background-color: rgba(51, 51, 51, 0.505);
}

.skill > .skillcountainer:nth-child(15):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #FFFFFF;
  border-radius: 2px;
  background-color: #ff6c37b6;
}

.skill > .skillcountainer:nth-child(16):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #FFFFFF;
  border-radius: 2px;
  background-color: rgba(51, 51, 51, 0.644);
}

.skill > .skillcountainer:nth-child(17):hover {
  text-shadow: 3px 5px 2px #474747, 0px 0px 0px rgba(206,89,55,0);
  transition: .5s;
  color: #0765A6;
  border-radius: 2px;
  background-color: #6aceefba;
}

.skillcountainer img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}


/********************

    CARD PROYECTOS

*********************/

/* BOTONES */
.boton {
  background-color: #212529;
  padding-top: 11px;

}
.boton:hover {
  background-color: #17C1E3;

}

.descargar {
  display: inline-block;
  margin-top: 26px;
}


.botonigual {
  width: 200px;
  height: 50px;
  font-size: 16px;

}

.card {
  border: solid 1px #212529;
}


/********************

    PROYECTOS

*******************/

.container-proyectos a{
  text-decoration: none;
  color: #F1f2f3f4;
}
.container-proyectos h1{
  padding-top: 25px;
}

.proyecto {
  color: #212529;
  margin: -24px -12px 0px;
  padding: 48px 0;
}

.title-tarjeta h2{
  
  padding-bottom: 0.5rem!important;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);

}

.card-body {
  background-color: #3e5c76;

}

.titulo-card {


}

.card-text {
}
.card-project {
  width: 25%;
  height: 430px;
  max-height: 430px;

}

/* FORMULARIO DE CONTACTO  */
.formulario-de-contacto {
  padding: 3rem 16rem!important;
}
.formulario-de-contacto {
  margin-bottom: 62px;
}
.formulario-de-contacto h1 {
  margin-bottom: 62px;
}
.formulario-de-contacto h3 {

}

/* nav */
.nav a{
  text-decoration: none;
}

/* FOOTER */

footer {
  padding-top: 5rem!important;
  justify-content: space-around!important;
}

.social-media {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.social-media > ul > li > a{
  display: inline-block;
  cursor: pointer;

}
.social-media > ul{
  width: 58%;
  justify-content: space-between!important;
  gap: 3em;
  align-items: center;
  align-self: center;
  margin-top: 2em;

}

.icon-twitter {
  font-size: 3em;
  color: #FFFFFF;
  
}
.icon-github {
  font-size: 3em;
  color: #FFFFFF;

}
.icon-google3 {
  font-size: 3em;
  color: #FFFFFF;

}
.icon-linkedin {
  font-size: 3em;
  color: #FFFFFF;

}

.icon-linkedin:hover {
  color: #36bed9;
  cursor: pointer;
  transition: all 500ms ease;
}
.icon-github:hover {
  color: rgb(180, 5, 5);
  cursor: pointer;
  transition: all 500ms ease;
}

.icon-twitter:hover {
  color: #0765A6;
  cursor: pointer;
  transition: all 500ms ease;
}
.icon-google3:hover {
  color: red;
  cursor: pointer;
  transition: all 500ms ease;
}
#redesSociales{
  display: inline-block;
}


.container-redes-cv {
  display: flex;
  
}
#sec-4 {
  width: 50%;
}


/* main h2 {
  color: #17C1E3;
} */

.aboutme h2 {
  
}
.titulo-abaoutme {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}


/* IMAGEN  */
.contenedor-imagen {
  position: relative;
  /* 
  display: inline-block;
  text-align: center; */
}
.contenedor-imagen img {
  box-sizing: border-box;
  width: 100%;
  height: 785px;
  
}
.hidden {
  opacity: 0;
}



@import url(https://fonts.googleapis.com/css?family=Khula:700);

.console-container {

  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:278px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  
}
.console-container span {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);

}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.containter-btn-oculto {
  box-sizing: border-box;
  background-color: transparent; 
  border: none; 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-bottom: 20px;

}
.btn-oculto {
  display: block;
  box-sizing: border-box;
  background-color: transparent; 
  border: none; 
  width: 10%;
  height: 30px;
}
.btn-oculto img:hover {
  color: #17C1E3;
}

/* FOTO DE PERFIL */


.carreaux_presentation_light
{
  display:table-cell;
  width:250px; height:250px;
  background-size:cover;
  overflow: hidden;
  position: relative;


}
.carreaux_presentation_light .shadow_swhow_mini
{
  background-color:rgba(19,30,33,0.4);
  position: absolute;
  z-index: 1000;
  top:0;left:0;right:0;bottom:0;
  
}
.carreaux_presentation_light:hover .shadow_swhow_mini
{
  background-color:rgba(16,23,41,0);
}
.carreaux_presentation_light:hover
{

  transition: all 2s;
}

.deroul_titre , .deroul_soustitre {
  cursor: default;
}


.carreaux_presentation_light .deroul_titre
{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 7px;
  z-index: 1000;
  top:60%;left:-80%;
  color:#ffffff;
  font-weight: 300;
  font-size: 13px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;

}
.carreaux_presentation_light:hover .deroul_titre
{
  background-color:#106373; left:0px;
}
.carreaux_presentation_light .deroul_soustitre
{
  position: absolute;
  font-family: 'Roboto';
  padding: 5px;
  z-index: 1000;
  top:60%;right:-85%;
  margin-top: 25px;
  color:#ffffff;
  font-weight: 300;
  font-size: 11px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre
{
  background-color:#17C1E3;right:0px;
}
.lista-item {
  margin-left: auto;
}

.icon-arrow-down2 {
  display: none;
  justify-content: center;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  color: #7a7a7a;
  padding-top: 200px;
  height: 50px;
  width: 50px;
  text-shadow: 0 0.125rem 0.25rem rgba(247, 246, 246, 0.25);
  cursor: pointer;
}

.icon-arrow-down:hover {
  color: #212529;
}



/* MEDIA QUERY */


/* MOBLE SITE */

@media only screen and (min-width:280px) and (max-width:340px){
  .container-aboutme {

    margin-left: 30px;
  }

}

@media only screen and (min-width:340px) and (max-width:700px){
  /* FOOTER */

  .container-redes-cv {
    flex-direction: column;
  }
  .social-media {
    margin: 0 auto;
    padding-top: 20px;
  }
  .social-media ul {
    margin-left: 2em;
  }

  /* TARJETA */
	.tarjeta{
    width: 100%;
    margin: 0 0;
    height: 450px;
    align-self: center;
	}

  .contenedor-tarjeta {
    width: 70%;
    height: 449px;
  }

	.container-tarjeta{
		flex-wrap: wrap;
    height: 1500px;
    justify-content: center;
	}

  .proyecto {
    height: 1700px;
  }


  /* SKILL */
  .skill {
    justify-content: center
  }



  .col {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .margenes {
    margin: 0 0;
    border: 2px;
  }

  .container-aboutme {
    width: 90%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .popup {
    width: 90%;
  }
  .slider {
    justify-content: center;
    height: 600px;
  }
  #popupWeb, #popupScr, #popupDev {
    width: 90%;
    overflow: auto;
    z-index: 5;

  }
  .overlay {
    z-index: 2001;
  }

  #desarrolloWeb, #scraping, #programador {
    width: 80%;

    margin-left: 32px;
  
  }
  #desarrolloWeb > div > p, #scraping > div > p, #programador > div > p {
    height: 60px;
    text-align: center;
  }
  #desarrolloWeb > div > h2, #scraping > div > h2, #programador > div > h2 {
    margin-bottom: 2em;
  }
  .popup {
    overflow: auto;
  }
  .img-slider {
    display: none;
  }
  .img-overlay {
    display: none;
  }


}
/* IPAD SITE */

@media only screen and (min-width:700px) and (max-width:1400px){
    /* ACERCA DE MI */
    .aboutme {
      flex-direction: column;
      align-items: center;
    }
    .container-aboutme {
      width: 50%;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin-bottom: 20px;
      margin-left: 126px;
    }

    /* FOOTER */

    .container-redes-cv {
      flex-direction: column;
    }
    .social-media {
      margin: 0 auto;
      padding-top: 50px;
    }
    .social-media ul {
      margin-left: 0em;
    }
  
    /* TARJETA */
    .tarjeta{
      width: 50%;
      margin: 0 auto;
      height: 450px;
      align-self: center;
    }
  
    .contenedor-tarjeta {
      width: 70%;
      height: 449px;
    }
  
    .container-tarjeta{
      flex-wrap: wrap;
      height: 1500px;
      justify-content: center;
    }
  
    .proyecto {
      height: 1700px;
    }
  
  
    /* SKILL */
    .skill {
      justify-content: center
    }
  
  
  
    .col {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  
    .margenes {
      margin: 0 0;
      border: 2px;
    }
  

    .popup {
      width: 90%;
    }
    .slider {
      flex-direction: column;
      height: 600px;
    }
    #popupWeb, #popupScr, #popupDev {
      width: 90%;
      overflow: auto;
      z-index: 5;
  
    }
    .overlay {
      z-index: 2001;
    }
  
    #desarrolloWeb, #scraping, #programador {
      width: 40%;
  
      margin-left: 32px;
    
    }
    #desarrolloWeb > div > p, #scraping > div > p, #programador > div > p {
      height: 60px;
      text-align: center;
    }
    #desarrolloWeb > div > h2, #scraping > div > h2, #programador > div > h2 {
      margin-bottom: 2em;
    }
    .popup {
      overflow: auto;
    }
    .img-slider {
      display: none;
    }
    .img-overlay {
      display: none;
    }

}