* {margin:0 ;padding:0;}


body {
  background-color: #212529;
}

.container {
  background-color: #F8F9FA;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

/***********************

        ALBUM

********************** */
main .album {

  width: 1400px;
  margin: 0 auto;
  background-color: #212529;
  color: #F8F9FA;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/******************************

    ACERCA DE MI Y SKILLS

*******************************/

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  fill: currentcolor;
  transition: transform 0.25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-aboutme {
  width: 20%;
  margin-left: 20px;
}
/*Cards*/
.container-tarjeta{
	width: 100%;
	display: flex;
	max-width: 1030px;
  height: 560px;
	margin: auto;
}
.title-tarjetas{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.tarjeta{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.tarjeta:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%)scale(1.05);
}
.tarjeta img{
	width: 100%;
	height: 210px;
}
.tarjeta .contenido-tarjeta{
	padding: 15px;
	text-align: center;
  height: 290px;
  height: 295px;
}
.tarjeta .contenido-tarjeta h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.tarjeta .contenido-tarjeta p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
  
}
.tarjeta .contenido-tarjeta a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.tarjeta .contenido-tarjeta a:hover{
	background: #2fb4cc;
	color: #fff;
}
.contenido-tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.btn-repositorio {
  margin-top: auto;

}  
/* REVISAR!!! */

@media only screen and (min-width:320px) and (max-width:768px){
	.container-tarjeta{
		flex-wrap: wrap;
    height: 2000px;
    justify-content: center;
	}
  .col {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .container-aboutme {
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin-bottom: 20px;
    margin-left: 60px;
  }

	.tarjeta{
		margin: 15px;
    width: 90%;
    height: 520px;
	}

}
/*Fin-Cards*/

/* BOTONES */




/********************

    CAROUSEL

*******************/




/********************

      SKILLS

*******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.skillcountainer {
  text-align: center;
  justify-content: center;
  width: 205px;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-family: 'Roboto', sans-serif;

}

.text-paralax {
  transform: translateZ(30px);
}
.text-skill {
  font-size: 3vh;
  color: #1E2125;
}

.skillcountainer:hover {
  transition: .3s;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.skillcountainer:nth-child(1):hover {
  transition: .5s;
  color: #fe9141;
  border-radius: 2px;
}
.skillcountainer:nth-child(2):hover {
  transition: .5s;
  color: #36bed9;
  border-radius: 2px;

}
.skillcountainer:nth-child(3):hover {
  transition: .5s;
  color: #F0DB4F;
  border-radius: 2px;

}
.skillcountainer:nth-child(4):hover {
  transition: .5s;
  color: #8EC74E;
  border-radius: 2px;
}
.skillcountainer:nth-child(5):hover {
  transition: .5s;
  color: #7D3E6A;
  border-radius: 2px;
}
.skillcountainer:nth-child(6):hover {
  transition: .5s;
  color: #CB4C9B;
  border-radius: 2px;
}
.skillcountainer:nth-child(7):hover {
  transition: .5s;
  color: #58AA50;
  border-radius: 2px;
}

.skillcountainer:nth-child(8):hover {
  transition: .5s;
  color: #17C1E3;
  border-radius: 2px;
}

.skillcountainer img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

/*
.skillcountainer:hover {
  transition: .5s ;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px);
  clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px);
  transform: scale(1.1);
}
.skillcountainer img:hover {
  transition: .5s ;
  filter: blur(.5px);
}

.skill-orange:hover {
  background-color: #fe9141;
}

*/

/********************

    CARD PROYECTOS

*********************/

/* BOTONES */
.boton {
  background-color: #212529;

}
.boton:hover {
  background-color: #17C1E3;

}
.botonigual {
  width: 200px;
  height: 50px;
  font-size: 16px;

}

.card {
  border: solid 1px #212529;
}


/********************

    PROYECTOS

*******************/

.container-proyectos a{
  text-decoration: none;
  color: #F8F9FA;
}

.proyecto {
  color: #212529;
  margin: -24px -12px 0px;
  padding: 48px 0;
}

.title-tarjeta h2{
  padding-bottom: 0.5rem!important;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);

}

.card-body {
  background-color: #3e5c76;

}

.titulo-card {


}

.card-text {
}
.card-project {
  width: 25%;
  height: 430px;
  max-height: 430px;

}

/* FORMULARIO DE CONTACTO  */
.formulario-de-contacto {
  padding: 3rem 16rem!important;
}
.formulario-de-contacto {
  margin-bottom: 62px;
}
.formulario-de-contacto h1 {
  margin-bottom: 62px;
}
.formulario-de-contacto h3 {

}

@media (max-width: 920px) {
  .formulario-de-contacto {
    padding: 3rem!important;
  }
  .container-aboutme {
    flex: 1 auto;
  }
  .skill {
    justify-content: center
  }

}
/* nav */
.nav a{
  text-decoration: none;
}

/* FOOTER */

footer {
  padding-top: 5rem!important;
}

.icon-linkedin:hover {
  color: #36bed9;
}
.icon-github:hover {
  color: rgb(180, 5, 5);
}

/* main h2 {
  color: #17C1E3;
} */

.aboutme h2 {
  
}
.titulo-abaoutme {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}


/* IMAGEN  */
.contenedor-imagen {
  position: relative;
  /* 
  display: inline-block;
  text-align: center; */
}
.contenedor-imagen img {
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  
}
.hidden {
  opacity: 0;
}



@import url(https://fonts.googleapis.com/css?family=Khula:700);

.console-container {

  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:278px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  
}
.console-container span {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);

}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.containter-btn-oculto {
  box-sizing: border-box;
  background-color: transparent; 
  border: none; 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-bottom: 20px;

}
.btn-oculto {
  display: block;
  box-sizing: border-box;
  background-color: transparent; 
  border: none; 
  width: 10%;
  height: 30px;
}
.btn-oculto img:hover {
  color: #17C1E3;
}

/* FOTO DE PERFIL */


.carreaux_presentation_light
{
  display:table-cell;
  width:250px; height:250px;
  background-size:cover;
  overflow: hidden;
  position: relative;
  clip-path: circle(50.1% at 50% 50%);


}
.carreaux_presentation_light .shadow_swhow_mini
{
  background-color:rgba(19,30,33,0.4);
  position: absolute;
  z-index: 1000;
  top:0;left:0;right:0;bottom:0;
  
}
.carreaux_presentation_light:hover .shadow_swhow_mini
{
  background-color:rgba(16,23,41,0);
}
.carreaux_presentation_light:hover
{
  clip-path: circle(58.8% at 50% 50%);

  transition: all 2s;
}




.carreaux_presentation_light .deroul_titre
{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 7px;
  z-index: 1000;
  top:60%;left:-80%;
  color:#ffffff;
  font-weight: 300;
  font-size: 13px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;

}
.carreaux_presentation_light:hover .deroul_titre
{
  background-color:#1e4944; left:0px;
}
.carreaux_presentation_light .deroul_soustitre
{
  position: absolute;
  font-family: 'Roboto';
  padding: 5px;
  z-index: 1000;
  top:60%;right:-85%;
  margin-top: 25px;
  color:#ffffff;
  font-weight: 300;
  font-size: 11px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre
{
  background-color:#417c74;right:0px;
}
.lista-item {
  margin-left: auto;
}

.icon-arrow-down2 {
  display: none;
  justify-content: center;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  color: #7a7a7a;
  padding-top: 200px;
  height: 50px;
  width: 50px;
  text-shadow: 0 0.125rem 0.25rem rgba(247, 246, 246, 0.25);
  cursor: pointer;
}

.icon-arrow-down:hover {
  color: #212529;
}

/* GRACIAS POR LA VISITA */


.hero-visita {
	background: #212529;
	min-height: 52vh;
	display: flex;
	align-items: center;
}

.texto-visita {
	width: 100%;
	color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 150px;
	font-weight: bold;

	background-image: url('../img/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg');
	background-size: cover;
	background-position-y: 700px;
	
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}