{% extends 'layout.html' %}

{% block tittle %} Página de {{tittle}} {% endblock %}

{% block content %}

{% comment "Esto es un comentario HTML en Django" %}
    <h1> Es un comentario que no se va a ver en el navegador </h1>
{% endcomment %} 

<h1 class="tittle">{{tittle}}</h1>


<p>{{mi_variable}}</p>

{% if nombre %}

    <p>{{nombre}}</p>

{% else %}

    <strong>El nombre no existe</strong>


{% endif %}

<p>Años haste el 2045 pares:</p>
<ul>
    {% for year in years%}

        {% if year|divisibleby:2 == True %}
            <li> {{ year }} </li>
        {% endif %}
    {% endfor %}
</ul>

{% include 'fecha-actual.html' %}

{% endblock %}

