<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block tittle %}
            {% endblock %}
            | Julian Moreyra
        </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- cabecera de pagina -->
    <header>
        <div id="logotipo">
            <img src="{% static 'imagenes/logo.png' %}" alt="">
            <h1>Sitio web con Django </h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %} ">Inicio</a>
            </li>
            <li>
                <a href="{% url 'holamundo'%}">Hola mundo</a>
            </li>
            <li>
                <a href="{% url 'pagina'%}">Páginas de pruebas</a>
            </li>
            <li>
                <a href="{% url 'contacto'%}">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>





    <div id="content">
        <div class="box">
            {% block content %}
            <!--Cógido que viene de templates-->
                <strong>Página original</strong>
            {% endblock %}
        </div>
    </div>


    <footer>
        <p>
            Master en Python con Django &copy; - Julián Moreyra - {% now "d/m/Y" %}
        </p>
    </footer>
</body>
</html>