
/********************************
            HEADER
*********************************/
.main-header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}

#menu {
    display: none;
}

#menu:checked + .nav-bar {
    display: block;    
}

#menu:checked ~ .search-bar .menu-toggle__label {
    background-color: #0d1b2a;
}





/********************************
            NAV BAR
*********************************/
.nav-bar {
    background-color: #d7e3fc;
    box-shadow: 5px 5px 10px -4px inset rgba(0, 0, 0, 0.3);

    &__nav-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    &__nav-item {
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        background-color: #abc4ff;
        color: #fff;
        padding: 1em 2em;
        text-decoration: none;
    }
}


/******************************
            SEARCH BAR
*******************************/
.search-bar {
    background-color: #d7e3fc;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;

    &__logo-container {
        padding: 1em;
        background-color: #abc4ff;
        display: flex;
        flex-direction: flex-end;
        justify-content: left;
        align-self: left;
        flex-basis: 5%;
        background-image: url(../../img/logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        

    }

    &__form-container {
        padding: 1em;
        background-color: #d7e3fc;
        flex-basis: 60%;
        display: flex;
        justify-content: center    
    }
    
    &__form-search {
        background-color: #ccdbfd;
        width: 70%;
    }

    &__form-submit {
        background-color: #abc4ff;
        color: #edf2fb;
    }

    &__carrito-container {
        flex: 0 0 3em;
        padding-top: 10px;
        text-align: center;
        background-color: #abc4ff;
    }
}


/* .search-bar__form-label {
    background-color: #abc4ff;
}*/



/******************************
            MENU TOGGLE
*******************************/
.menu-toggle__container {   
    display: none;
    background-color: #0d1b2a;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
}

.menu-toggle__label {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
    display: block;
    background-color: #333;
    height: .2em;
    position: absolute;
    left: .5em;
    right: .5em;
    margin: 0 auto;
}

.menu-toggle__pan-arriba {
    top: .8em;
}

.menu-toggle__medallon {
    top: 50%;
    margin-top: -.15em;
}

.menu-toggle__pan-abajo {
    bottom: .8em;
}



@media (max-width: 768px) {

    .main-header {
        flex-direction: column-reverse;
    }

    .menu-toggle__container {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar__nav-list {
        flex-direction: column;
    }

}