
/********************************
            HEADER
*********************************/
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -1px 1px 35px 8px rgba(0,0,0,0.66) inset;
    -webkit-box-shadow: -1px 1px 35px 8px rgba(0,0,0,0.66) inset;   
    padding: 2em 0.5em;
    background-color: #00bdd6;
    

}

#menu {
    display: none;
}

#menu:checked + .nav-bar {
    display: block;    
}

#menu:checked ~ .search-bar .menu-toggle__label {
    background-color: #0d1b2a7c;
    /*color: #fe9143d7;*/
    border-bottom: #fe9143 solid 1px;
    border-radius: 10px;
    
}





/********************************
            NAV BAR
*********************************/
.nav-bar {
    padding-bottom: 1em;

    &__nav-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    &__nav-link {
        text-decoration: none; 
        display: block;
        padding: 0.5rem 2.5rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
        transition: all 0.4s linear;
        border-radius: 3px;
        color: #edfafb;
    }
    
    &__nav-item {
        text-align: center;
        position: relative;
    }
    
    &__nav-link:hover {
        background: #fe9143;
    }
    
    &__nav-link span {
        display: none;
    }
    
    /*segunda lista*/
    &__nav-list2 {
        padding-top: 12px;
        height: 200px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        border-radius: 4px;
        border: 1px solid #00bdd6;
        box-shadow: 1px 18px 29px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 18px 29px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 18px 29px 4px rgba(0,0,0,0.75);
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3em);
        z-index: -1;
        transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
    
    &__nav-item:focus &__nav-list2,
    &__nav-item:focus-within &__nav-list2,
    &__nav-item:hover &__nav-list2 {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0);
        transition-delay: 0s, 0s, 0.3s;
    }
    
    &__nav-list2 a{
        width: 100%;
        height: 53.17px;
        padding: 1em 2.5em;
        font-family: roboto;
    } 
    
    &__nav-list2 a:hover{
    background: #fe9143;
    }
    
    &__nav-link2 {
        text-decoration: none; 
        display: inline-block;
        padding: 0.5rem 2.5rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
        transition: all 0.4s linear;
        border-radius: 3px;
        color: #edfafb;
    }

    &__nav-item2 {
        text-align: center;
        position: relative;
    }
    
    
    &__nav-link2:hover {
        background: #fe9143;
    }
    
    &__nav-list2 {
        background: #00bdd6;
        display: inline-block;
        list-style: none;
    }

    &__nav-list2:first-child {
        border-left: none;
        display: block;

    }
}       




/******************************
            SEARCH BAR
*******************************/
.search-bar {
    /*background-color: #d7e3fc;*/
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    

    &__logo-container {
        letter-spacing: 15px;
        font-size: 1.3em;
        color: aliceblue;
        cursor: default;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);

    /*    padding: 1em;
        background-color: #abc4ff;
        display: flex;
        flex-direction: flex-end;
        justify-content: left;
        align-self: left;
        flex-basis: 5%;
        background-image: url(../../img/logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
    */
    } 

    &__form-container {
        padding: 0 1em;
        /*background-color: #d7e3fc;*/
        display: flex;
        justify-content: flex-end;
        flex-grow: 8;
        
    }
    
    &__form-search {
        color: #333;
        background-color: aliceblue;
        border: 1.5px solid #212529;
        border-radius: 3px;
        padding: 0 2em;
    }

    &__form-submit {
        background-color: #00bdd6;
        /* color: #edfafb;*/
        border: 1px solid #00bdd6;
        transition: all 0.4s linear;
        border-radius: 3px;
        width: 4.2em;
        height: 2em;
        cursor: pointer;
        font-size: 18px;
    }
    &__form-submit:hover {
        background-color: #fe9143;
        color: #edfafb;
        border: 1px solid #fe8834;

    }

    &__carrito-container {
        flex: 0 0 4em;
        color: aliceblue;
        padding-top: 10px;
        text-align: center;
        display: flex;
        cursor: pointer;
        justify-content: center;
    }
    &__carrito-container:hover {
        transition: all 0.4s linear;
        background: #fe9143bb;
        border-radius: 5px;
    }
    &___carrito-container {
        text-decoration: none;
    } 
    &__carrito-link {
        color: aliceblue;
    }

}


.search-bar__form-label {
    background-color: #edfafb;
}



/******************************
            MENU TOGGLE
*******************************/
.menu-toggle__container {   
    display: none;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;

}

.menu-toggle__label {
    display: block;
    /*background-color: black;*/
    width: 100%;
    height: 100%;
}

.icon-menu-icono {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 13px;
    height: 29px;
    font-size: 53px;
    color: rgba(51, 51, 51, 0.904);
}



@media (max-width: 768px) {

    .main-header {
        flex-direction: column-reverse;
    }

    .menu-toggle__container {
        display: block;

    }

    .nav-bar {
        display: none;
        padding-top: 2.2em;
        padding-bottom: 1em;


        &__nav-link span {
            display: inline-block;
            padding-right: 1em;
        }
        &__nav-list {
            flex-direction: column;
        }
    }


    .search-bar {
    flex-direction: row;
    justify-content: center;
    }
    .search-bar__form-search {
        width: 100%;
    }


}




@media (max-width: 540px)  {
    .search-bar {
        justify-content: space-between;
    }
    .search-bar__form-container {
        display: none;
    }
    .menu-toggle__container {
        order: -1;
    }
    .search-bar__carrito-container {
        justify-content: center;
    }
}
