

.container-destacados {
    margin: 12em 8em 12em 8em;
    height: 10em;
    display: flex;
    justify-content: space-around;
    gap: 6em;

    &__boton {
        padding: 2em;
        width: 600px;
        height: 180px;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        background-color: #59BFF6; 
        border-radius: 10px; 
        border: solid #59BFF6 1px; 
        cursor: pointer;
    }
}