.main-contacto {
    height: 3000px;
    background-image: url(../../img/fondos/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5em;

} 

.formulario__contacto {
}