.section-cards {
    background-color: #f5f5f5;
    padding: 5.5em 7.5em 7em 7.5em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5em; /*espaciado entre las tarjetas */
    justify-content: center;
}


@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.cards-titulo {
    color: #fff;
    background: #59BFF6;
    padding: 5px 51px;
    font-size: 46px;
    line-height: 1.2;
    font-family: 'Bangers', cursive;

}

main {
    background-color: #f5f5f5;
}


